.container {
	margin-top: 30px;
}

.assignment-row {
	text-align: center;
}

#column1 {
	padding-top: 20px;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
	font-size: 0.3em;
}

.diagonal {
	stroke: orange;
	stroke-width: 2px;
	stroke-dasharray: 10,10;
}

.guideline {
	stroke: lightgray;
}

.guidelinelabel {
	fill: lightgray;
}

.helptext {
	fill: teal;
	stroke: none;
}

.xaxis,
.yaxis {
	fill: none;
	stroke: gray;
	shape-rendering: crispEdges

}

.helptext {
	text-anchor: middle;
	fill: teal;
}

circle {
	fill: teal;
	stroke: teal;
	stroke-width: 10px;
	stroke-opacity: 0;
}

.ticks-desc {
	stoke: gray;
	font-size: 8pt;
}

div.tooltip {  

	background-color: lightsteelblue;
	position: absolute;
	text-align: center;
	width: auto;
	height: auto;
	font: 12px sans-serif;
	border-radius: 5px;
	padding: 2px;
	border: 0px;      
  	pointer-events: none;         
}