.container {
	margin-top: 30px;
}

.assignment-row {
	text-align: center;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges
}

.diagonal {
	stroke: lightgray;
	stroke-width: 2px;
	stroke-dasharray: 10,10;
}