.container {
	margin-top: 30px;
}

.assignment-row {
	text-align: center;
}

.chart rect {
	stroke: white;
	shape-rendering: crispEdges;
}

.chart line {
	stroke: lightgrey;
}

#legend p {
	margin-left: 15px;
}

#total div,
#average div,
#sd div {
	font-weight: bold;
}

#lowerLabel,
#upperLabel {
	position: relative;
	float: left;
	font-size: .8em;
	color: #999;
	text-align: center;
	font-family: Verdana,Arial,sans-serif;
}
