.container {
	margin-top: 30px;
}

.assignment-row {
	text-align: center;
}

#column1 {
	padding-top: 20px;
}

#sliderbg {
	padding-top: 15%;
}
.chart rect {
	stroke: white;
	shape-rendering: crispEdges;
}

.chart line {
	stroke: lightgrey;
}

.maxline {
	stroke: lightgrey;
}

.maxlabel {
	fill: lightgrey;
}

.small-maxlabel {
	fill: lightgrey;
	font-size: 7pt;
}

.small-axis path,
.small-axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges
}

.small-axis text{
	font-size: 7pt;
}

.viewall-xaxislabel {
	position: absolute;
	left: 50%;
	top: 100%;
	font-weight: bold;
}

.viewall-yaxislabel {
	position: absolute;
	left:-8%;
	top: 50%;
	font-weight: bold;
	transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

#legend {
	background-color: #fff;
	border-radius: 10px;
	width: 300px;
	height: 150px;
	padding: 10px;
	margin-top: 5px;
}

#legend p {
	margin-left: 15px;
}

#sliderbg { 
	background-color: #fff;
	border-radius: 10px;
	width: 300px;
	height: 95px;
	padding: 10px 15px 0px 7px;
	margin-top: 5px;
	margin-bottom: 40px;
}



#total div,
#average div,
#sd div {
	font-weight: bold;
}

#lowerLabel,
#upperLabel {
	position: relative;
	float: left;
	font-size: .8em;
	color: #999;
	text-align: center;
	font-family: Verdana,Arial,sans-serif;
}

div.tooltip {
	background-color: lightsteelblue;
	position: absolute;
	text-align: center;
	width: auto;
	height: auto;
	font: 12px sans-serif;
	border-radius: 5px;
	padding: 2px;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges
}

.diagonal {
	stroke: orange;
	stroke-width: 2px;
	stroke-dasharray: 10,10;
}

.xaxis,
.yaxis {
	fill: none;
	stroke: gray;
	shape-rendering: crispEdges

}

.helptext {
 	text-anchor: middle;
 	fill: teal;
 	stroke: none;
}

.title {
	text-anchor: middle;
}

circle {
	radius: 3;
  	fill: teal;
  	stroke: teal;
  	stroke-width: 10px;
  	stroke-opacity: 0;
}

.ticks-desc {
  	font-size: 8pt;
}

.small-ticks-desc {
	font-size: 5pt;
}

.ygrid,
.xgrid {
	stroke: lightgray;
	stroke-width: 1px;
}

.borderline {
	stroke: black;
}


.ui-slider-range, .ui-widget-header, .ui-corner-all {
	background: none;
	background-color: 'darkgray';
}

.small-yscale-label,
.small-xscale-label {
	font-size: 8px;
}
